*.db
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
*.log
*.env
*.bak
*.tmp
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.zip
*.tar.gz
*.coverage
.coverage.*
htmlcov/



modules/__pycache__/
modules/*.pyc

.vscode/

static/uploads/